body {
  display: flex;
  flex-direction: column;

  background-image: url('images/fullSizeNate.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.top{
  display: flex;
  flex-direction: row;
}

img{
  border-radius: 50px;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.header{
  font-family: 'BIZ UDGothic', sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  display: flex;
  padding-left: 20px;
}

.title{
  display: flex;
  justify-content: center;
  font-family: 'BIZ UDGothic', sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 32px;
  font-weight: 900;
  color: white;
}

.discography{
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 150px;
  padding-right: 50px;
}

#discographyBox {
  display: flex;
  justify-content: center;
  width:347px;
  height: 370px;
  background: #FFFFFF;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.6);
}

.composition{
  display: flex;
  flex-direction: column;
}

#compositionBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:600px;
  height: 270px;
  background: #FFFFFF;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.6);
}

#item{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'BIZ UDGothic', sans-serif;
  /* font-family: 'Anek Devanagari', sans-serif; */
  color:black;
line-height: 0%;
}

#projectTitle{
  font-size: 24px;
}

#description{
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: 'BIZ UDGothic', sans-serif;
  color: white;
  font-weight: 900;
  font-size: 24px;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
  padding-right: 40px;
  margin-top: 200px;
}

#heart{
  margin-right: -35px;
  margin-top: -10px;
}

#earth{
  margin-top: 40px;
  margin-left: -55px;
}
